In [2]:
import pandas as pd

# Importa cada CSV separadamente
leitos_2023 = pd.read_csv("Leitos_2023.csv", encoding="latin-1")
leitos_2024 = pd.read_csv("Leitos_2024.csv", encoding="latin-1")
leitos_2025 = pd.read_csv("Leitos_2025.csv", sep=";", encoding="latin-1")

# Adiciona uma coluna para indicar o ano (se o CSV não tiver)
leitos_2023["Ano"] = 2023
leitos_2024["Ano"] = 2024
leitos_2025["Ano"] = 2025

# Junta tudo em um único DataFrame
leitos = pd.concat([leitos_2023, leitos_2024, leitos_2025], ignore_index=True)

# Mostra o resultado
display(leitos.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219870 entries, 0 to 219869
Data columns (total 36 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   COMP                    219870 non-null  int64
 1   REGIAO                  219870 non-null  object
 2   UF                      219870 non-null  object
 3   MUNICIPIO               219870 non-null  object
 4   MOTIVO_DESABILITACAO    0 non-null       float64
 5   CNES                    219870 non-null  int64
 6   NOME_ESTABELECIMENTO    219868 non-null  object
 7   RAZAO_SOCIAL            219870 non-null  object
 8   TP_GESTAO               219870 non-null  object
 9   CO_TIPO_UNIDADE         219870 non-null  int64
 10  DS_TIPO_UNIDADE         219870 non-null  object
 11  NATUREZA_JURIDICA       219870 non-null  int64
 12  DESC_NATUREZA_JURIDICA  219870 non-null  object
 13  NO_LOGRADOURO           219870 non-null  object
 14  NU_ENDERECO             219870 non-null  object
 15  NO_COMPLEMENTO          41139 non-null   object
 16  NO_BAIRRO               219870 non-null  object
 17  CO_CEP                  219870 non-null  int64
 18  NU_TELEFONE             194781 non-null  object
 19  NO_EMAIL                146632 non-null  object
 20  LEITOS_EXISTENTES       219870 non-null  int64
 21  LEITOS_SUS              219870 non-null  int64
 22  UTI_TOTAL_EXIST         219870 non-null  int64
 23  UTI_TOTAL_SUS           219870 non-null  int64
 24  UTI_ADULTO_EXIST        219870 non-null  int64
 25  UTI_ADULTO_SUS          219870 non-null  int64
 26  UTI_PEDIATRICO_EXIST    219870 non-null  int64
 27  UTI_PEDIATRICO_SUS      219870 non-null  int64
 28  UTI_NEONATAL_EXIST      219870 non-null  int64
 29  UTI_NEONATAL_SUS        219870 non-null  int64
 30  UTI_QUEIMADO_EXIST      219870 non-null  int64
 31  UTI_QUEIMADO_SUS        219870 non-null  int64
 32  UTI_CORONARIANA_EXIST   219870 non-null  int64
 33  UTI_CORONARIANA_SUS     219870 non-null  int64
 34  Ano                     219870 non-null  int64
 35  CO_IBGE                 50174 non-null   float64
dtypes: float64(2), int64(20), object(14)
memory usage: 60.4+ MB

None

In [3]:
#Separar ano e mês a partir da coluna COMP
leitos["Ano"] = leitos["COMP"].astype(str).str[:4].astype(int)
leitos["Mes"] = leitos["COMP"].astype(str).str[4:6].astype(int)

In [7]:
#Selecionar só as colunas relevantes para análise
#Exemplo: REGIAO, UF, MUNICIPIO, Ano, Mes, e as colunas de leitos (UTI_ADULTO_EXIST, UTI_PEDIATRICO_EXIST

resumo = leitos.groupby(["Ano", "REGIAO"])[
    ["UTI_ADULTO_EXIST", "UTI_PEDIATRICO_EXIST", "UTI_NEONATAL_EXIST", "UTI_QUEIMADO_EXIST", "UTI_CORONARIANA_EXIST"]
].sum().reset_index()

display(resumo.head())

,Ano,REGIAO,UTI_ADULTO_EXIST,UTI_PEDIATRICO_EXIST,UTI_NEONATAL_EXIST,UTI_QUEIMADO_EXIST,UTI_CORONARIANA_EXIST
0,2023,CENTRO-OESTE,49531,7722,9975,410,2589
1,2023,NORDESTE,111514,15653,22409,212,4236
2,2023,NORTE,28852,5714,7894,168,694
3,2023,SUDESTE,258362,38595,62806,1793,10161
4,2023,SUL,70941,8820,17546,360,1175