In [28]:
#Importar o primeiro banco de dados de leitos
import pandas as pd
leitos_23 = pd.read_csv("Leitos_2023.csv", encoding="latin-1")
leitos_23 = leitos_23.drop(columns=["MOTIVO_DESABILITACAO","CNES","CO_TIPO_UNIDADE","DS_TIPO_UNIDADE","NATUREZA_JURIDICA","TP_GESTAO","RAZAO_SOCIAL","NO_COMPLEMENTO"])
display(leitos_23.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84471 entries, 0 to 84470
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   COMP                    84471 non-null  int64
 1   REGIAO                  84471 non-null  object
 2   UF                      84471 non-null  object
 3   MUNICIPIO               84471 non-null  object
 4   NOME_ESTABELECIMENTO    84471 non-null  object
 5   DESC_NATUREZA_JURIDICA  84471 non-null  object
 6   NO_LOGRADOURO           84471 non-null  object
 7   NU_ENDERECO             84471 non-null  object
 8   NO_BAIRRO               84471 non-null  object
 9   CO_CEP                  84471 non-null  int64
 10  NU_TELEFONE             75028 non-null  object
 11  NO_EMAIL                55897 non-null  object
 12  LEITOS_EXISTENTES       84471 non-null  int64
 13  LEITOS_SUS              84471 non-null  int64
 14  UTI_TOTAL_EXIST         84471 non-null  int64
 15  UTI_TOTAL_SUS           84471 non-null  int64
 16  UTI_ADULTO_EXIST        84471 non-null  int64
 17  UTI_ADULTO_SUS          84471 non-null  int64
 18  UTI_PEDIATRICO_EXIST    84471 non-null  int64
 19  UTI_PEDIATRICO_SUS      84471 non-null  int64
 20  UTI_NEONATAL_EXIST      84471 non-null  int64
 21  UTI_NEONATAL_SUS        84471 non-null  int64
 22  UTI_QUEIMADO_EXIST      84471 non-null  int64
 23  UTI_QUEIMADO_SUS        84471 non-null  int64
 24  UTI_CORONARIANA_EXIST   84471 non-null  int64
 25  UTI_CORONARIANA_SUS     84471 non-null  int64
dtypes: int64(16), object(10)
memory usage: 16.8+ MB

None

In [29]:
leitos_24 = pd.read_csv("Leitos_2024.csv", encoding="latin-1")
leitos_24 = leitos_24.drop(columns=["MOTIVO_DESABILITACAO","CNES","CO_TIPO_UNIDADE","DS_TIPO_UNIDADE","NATUREZA_JURIDICA","TP_GESTAO","RAZAO_SOCIAL","NO_COMPLEMENTO"])
display(leitos_24.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85225 entries, 0 to 85224
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   COMP                    85225 non-null  int64
 1   REGIAO                  85225 non-null  object
 2   UF                      85225 non-null  object
 3   MUNICIPIO               85225 non-null  object
 4   NOME_ESTABELECIMENTO    85225 non-null  object
 5   DESC_NATUREZA_JURIDICA  85225 non-null  object
 6   NO_LOGRADOURO           85225 non-null  object
 7   NU_ENDERECO             85225 non-null  object
 8   NO_BAIRRO               85225 non-null  object
 9   CO_CEP                  85225 non-null  int64
 10  NU_TELEFONE             75403 non-null  object
 11  NO_EMAIL                56878 non-null  object
 12  LEITOS_EXISTENTES       85225 non-null  int64
 13  LEITOS_SUS              85225 non-null  int64
 14  UTI_TOTAL_EXIST         85225 non-null  int64
 15  UTI_TOTAL_SUS           85225 non-null  int64
 16  UTI_ADULTO_EXIST        85225 non-null  int64
 17  UTI_ADULTO_SUS          85225 non-null  int64
 18  UTI_PEDIATRICO_EXIST    85225 non-null  int64
 19  UTI_PEDIATRICO_SUS      85225 non-null  int64
 20  UTI_NEONATAL_EXIST      85225 non-null  int64
 21  UTI_NEONATAL_SUS        85225 non-null  int64
 22  UTI_QUEIMADO_EXIST      85225 non-null  int64
 23  UTI_QUEIMADO_SUS        85225 non-null  int64
 24  UTI_CORONARIANA_EXIST   85225 non-null  int64
 25  UTI_CORONARIANA_SUS     85225 non-null  int64
dtypes: int64(16), object(10)
memory usage: 16.9+ MB

None

In [30]:
leitos_25 = pd.read_csv("Leitos_2025.csv", encoding="latin-1" , sep=";")
leitos_25 = leitos_25.drop(columns=["MOTIVO_DESABILITACAO","CNES","CO_TIPO_UNIDADE","DS_TIPO_UNIDADE","NATUREZA_JURIDICA","TP_GESTAO","RAZAO_SOCIAL","NO_COMPLEMENTO"])
display(leitos_25.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50174 entries, 0 to 50173
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   COMP                    50174 non-null  int64
 1   REGIAO                  50174 non-null  object
 2   UF                      50174 non-null  object
 3   CO_IBGE                 50174 non-null  int64
 4   MUNICIPIO               50174 non-null  object
 5   NOME_ESTABELECIMENTO    50172 non-null  object
 6   DESC_NATUREZA_JURIDICA  50174 non-null  object
 7   NO_LOGRADOURO           50174 non-null  object
 8   NU_ENDERECO             50174 non-null  object
 9   NO_BAIRRO               50174 non-null  object
 10  CO_CEP                  50174 non-null  int64
 11  NU_TELEFONE             44350 non-null  object
 12  NO_EMAIL                33857 non-null  object
 13  LEITOS_EXISTENTES       50174 non-null  int64
 14  LEITOS_SUS              50174 non-null  int64
 15  UTI_TOTAL_EXIST         50174 non-null  int64
 16  UTI_TOTAL_SUS           50174 non-null  int64
 17  UTI_ADULTO_EXIST        50174 non-null  int64
 18  UTI_ADULTO_SUS          50174 non-null  int64
 19  UTI_PEDIATRICO_EXIST    50174 non-null  int64
 20  UTI_PEDIATRICO_SUS      50174 non-null  int64
 21  UTI_NEONATAL_EXIST      50174 non-null  int64
 22  UTI_NEONATAL_SUS        50174 non-null  int64
 23  UTI_QUEIMADO_EXIST      50174 non-null  int64
 24  UTI_QUEIMADO_SUS        50174 non-null  int64
 25  UTI_CORONARIANA_EXIST   50174 non-null  int64
 26  UTI_CORONARIANA_SUS     50174 non-null  int64
dtypes: int64(17), object(10)
memory usage: 10.3+ MB

None